<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="container">
    <div class="col-sm-6 col-md-3" *ngFor="let pokemon of pokemones">
        <a class="btn btn-default" href="#" role="button"><img class="img-responsive center-block" src="{{blobsPath+pokemon.id+blobsFormat}}">
        <p class="{{pokemon.name}} pokemon">{{pokemon.name}}</p>
        </a>
    </div>
  </div>
</div>
<button type="button" class="btn btn-default load" (click)="onLoadMore()">Load more..</button>